.wrapper {
    color: white;
    height: 750px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content:space-evenly  ;
    background-color: #111;
    padding-bottom: 80px;
}
.herocontent{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content:center;
}
.heroh1{
    color: var(--Pure-White, #FFF);
        font-family: Inter;
        font-size: 66px;
        font-style: normal;
        font-weight: 500;
        line-height: 147.523%;
        width: 750px;
        text-align: center;
}

.para{
    width: 750px;
    margin-top: 36px;
    color:  #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 162.523%;
    opacity: 0.3;
    text-align: left;
}

.inputcontainer{
    margin-top: 36px;
    display: flex;
    align-items: center;
    
}
.inputcontainer input{
        background: rgba(255,255,255,0.3);
    border-radius: 43px;
    padding: 18px 62px;
    color: #FFF !important;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 162.523%;
        border: #111 solid 1px;
        width: 438px;
}

.inputcontainer input:focus{
    border: 1px solid #111;
}

.btn1{
    position: relative;
    right: 130px;
}