body {
  margin: 0;
font-family: Inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1D1D1D;;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
}
